name: Create Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'develop'
      - 'master'
  
permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: Set Release version env variable
        run: |
          echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Build with Maven
        run: |
          mvn --batch-mode --update-snapshots --also-make clean package

      - name: Provide files
        run: |
          mkdir "${RUNNER_TEMP}/dist"
          cp pom.xml "${RUNNER_TEMP}/dist/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}.pom"
          cp "target/${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}.jar" "${RUNNER_TEMP}/dist"

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get branch name and repace special chars into "-"
          BRANCH=$(echo ${{ github.ref_name }} | sed 's/[^a-zA-Z0-9]/-/g')
          echo "-current branch: '${BRANCH}'"
          if [[ "$BRANCH" == "master" ]]; then
            THE_TAG=${{ env.RELEASE_VERSION }}
          else
            THE_TAG="${{ env.RELEASE_VERSION }}-${BRANCH}"
          fi
          gh release create "${THE_TAG}" \
              --draft --prerelease \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/}-${{ env.RELEASE_VERSION }}" \
              --generate-notes \
              "${RUNNER_TEMP}/dist/*"
